<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>

    <diagnostics>
      <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false"
        logMessagesAtTransportLevel="false" />
    </diagnostics>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" aspNetCompatibilityEnabled="true"/>


    <bindings>
      <customBinding>
        <binding name="custBinding">
          <binaryMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <reliableSession />
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
              maxBufferSize="2147483647" />
        </binding>
      </customBinding>

      <wsHttpBinding>
        <binding name="NewBinding0" receiveTimeout="08:00:00" maxBufferPoolSize="2147483646"
            maxReceivedMessageSize="2147483646" messageEncoding="Mtom"
            allowCookies="true">
          <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646"
              maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          <reliableSession inactivityTimeout="08:00:00" enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>


    <client>
      <endpoint  address="http://192.168.1.104/Service.svc/ws" binding="wsHttpBinding" bindingConfiguration="NewBinding0"
           contract="BMSService.BMSService">
        <identity>
          <dns value="webgameseed" />
        </identity>
      </endpoint>
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    </client>

    <services>
      <service behaviorConfiguration="BMSServiceBehavior" name="BMSService.BMSService">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.104/Service.svc" />
          </baseAddresses>
        </host>
        <endpoint  address="ws" binding="wsHttpBinding" bindingConfiguration="NewBinding0"
            contract="BMSService.BMSService">
          <identity>
            <dns value="webgameseed" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>


    <behaviors>
      <serviceBehaviors>
        <behavior name="BMSServiceBehavior">
          <serviceMetadata httpGetEnabled="true"   httpGetUrl="BMSService/metadata"/>
          <useRequestHeadersForMetadataAddress >
          </useRequestHeadersForMetadataAddress>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentSessions="200"
            maxConcurrentInstances="232" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true" />
  </system.webServer>

  <connectionStrings>
    <!--Access数据库连接字符串-->
    <!--<add name="DBConnectionString" providerName="System.Data.SqlClient" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|DataBase/BMS.accdb;Persist Security Info=False" />-->

    <!--Sql Server 数据库连接字符串-->
    <!--<add name="DBConnectionString" providerName="System.Data.SqlClient" connectionString="Server=LocalHost;Integrated Security=SSPI;Database=BMS" />-->
    <add name="DBConnectionString" providerName="System.Data.SqlClient" connectionString="Server=LocalHost;User ID=sa;pwd=apo,7nn;Database=BMS" />
  </connectionStrings>

  <appSettings>
    <!--使用Access 数据库时使用  使用时请教注释去掉  <!—— 和——> 同时将 Sql Server数据库使用的部分注释 -->
    <!--<add key="IBookDao"            value="BMS.AccessDAL.BookDao,BMS.AccessDAL"/>
    <add key="IMenuInfoDao"        value="BMS.AccessDAL.MenuInfoDao,BMS.AccessDAL"/>
    <add key="ISysMethodInfoDao"   value="BMS.AccessDAL.SysMethodInfoDao,BMS.AccessDAL"/>
    <add key="ITypeInfoDao"        value="BMS.AccessDAL.TypeInfoDao,BMS.AccessDAL"/>
    <add key="IUserInfoDao"        value="BMS.AccessDAL.UserInfoDao,BMS.AccessDAL"/>
     <add key="IBookKey"           value="BMS.AccessDAL.BookKeyDao,BMS.AccessDAL"/>
       <add key="IBorowInfoDao"    value="BMS.AccessDAL.BorowInfoDao,BMS.AccessDAL"/>
        <add key="IRoleInfoDao"    value="BMS.AccessDAL.RoleInfoDao,BMS.AccessDAL"/>
      <add key="IRoleMenuInfoDao"    value="BMS.AccessDAL.RoleMenuInfoDao,BMS.AccessDAL"/>-->

    <!--使用Sql Server 数据库时使用-->
    <add key="IBookDao"    value="BMS.SqlDAL.BookDao,BMS.SqlDAL"/>
    <add key="IMenuInfoDao" value="BMS.SqlDAL.MenuInfoDao,BMS.SqlDAL"/>
    <add key="ISysMethodInfoDao" value="BMS.SqlDAL.SysMethodInfoDao,BMS.SqlDAL"/>
    <add key="ITypeInfoDao" value="BMS.SqlDAL.TypeInfoDao,BMS.SqlDAL"/>
    <add key="IUserInfoDao" value="BMS.SqlDAL.UserInfoDao,BMS.SqlDAL"/>
    <add key="IBookKey"    value="BMS.SqlDAL.BookKeyDao,BMS.SqlDAL"/>
    <add key="IBorowInfoDao"    value="BMS.SqlDAL.BorowInfoDao,BMS.SqlDAL"/>
    <add key="IRoleInfoDao"    value="BMS.SqlDAL.RoleInfoDao,BMS.SqlDAL"/>
    <add key="IRoleMenuInfoDao"    value="BMS.SqlDAL.RoleMenuInfoDao,BMS.SqlDAL"/>

  </appSettings>

</configuration>
