<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_BMSService" messageEncoding="Mtom">
          <reliableSession inactivityTimeout="08:00:00" enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.104:8000/BMSService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_BMSService"
        contract="API.BMSService" name="WSHttpBinding_BMSService">
        <identity>
          <dns value="webgameseed" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=192.168.0.193;Initial Catalog=UMS;Persist Security Info=True;User ID=sa;Password=ztf96000"/>-->
    <add key="DBConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=BMS.accdb;Persist Security Info=False" />
    <add key="AdminDebugMode" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>